@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  width: 100vw;
  height: 100vh;
  background-image: url("../src/images/bg-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  direction: rtl;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: white !important;
  font-size: 1rem;
  font-weight: bold;
}
a:hover {
  color: aqua;
}
.active {
  color: #df204d !important;
  font-weight: bold;
}

/* Header */
header {
  position: relative;
}

.Bar {
  padding: 0 2rem;

  width: 100%;
  height: 60px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 2rem;
}

.toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: orange;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin: 5px;
}

.action_btn:hover {
  scale: 1.05;
}

.action_btn:active {
  scale: 0.95;
}

/*DROPDOWN*/
.dropdown_menu {
  display: none;
  /* position: absolute; */
  /* right: 2rem;
  top: 60px; */
  height: 0;
  /* width: 300px; */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* RESPONSIVE**/

@media (max-width: 776px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  .Bar .links,
  .Bar .action_btn {
    display: none;
  }
  .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

.registration-container {
}

.registration-headline {
  color: #df204d !important;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  padding: 7px;
}
.registration-headline::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 75%;
  height: 7px;
right: 11px;  background-color: #df204d !important;
  border-radius: 10px;
}
.registration-secondary-headline {
  color: white !important;
  font-weight: bold;
  font-size: 2rem;
}

.input {
  width: 100%;
  border-radius: 7px;
  height: 40px;
  padding-right: 15px;
}

.confirmButton {
  background-color: white;
  color: #df204d;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
}
